{% extends "layout/base.html" %}

{% block javascript %}{% endblock %}
{% block title %}{{ game['title'] }}{% endblock %}
{% block content %}
<h1>{{ game['title'] }}</h1>
    <div class="container">
       <!--Right column-->
        <div class="right-column">
            <!--Platform List-->
            <ul class="no-bullet display-inline">
                <li>{{ macro.platform_list('Xbox One', 'small-img') }}</li>
                <li>{{ macro.platform_list('Playstation 4', 'small-img') }}</li>
                <li>{{ macro.platform_list('Wii U', 'small-img') }}</li>
            </ul>
            <ul class="no-bullet">

                <li>{{ macro.label_data('Release Date:', game['release_date']) }}</li>
                <li>{{ macro.label_data('Developer:', game['developer']) }}</li>
                <li>{{ macro.label_data('Publisher:', game['publisher']) }}</li>
            </ul>
        </div>
        <!--Left column-->
        <div class="left-column">
            <p>{{ game['desc'] }}</p>
            <p>Trailer: <a href="{{ game['trailer_url'] }}">{{ game['trailer_url'] }}</a></p>
        </div>
        <div class="clear-both">
        </div>
    </div>

<a href="" onclick="window.history.go(-1); return false;">Go Back</a>
{% endblock %}
