{% extends "layout/base.html" %}
{% block javascript %}{% endblock %}
{% block title %}Games{% endblock %}
{% block content %}
<h1>Games</h1>
<ul class="no-bullet">
    {% for game in games %}
    <li class="bottom-margin"><a href="{{ url_for('games.game_info', id=game['id']) }}" class="no-underline">{{ game["title"] }}</a>
        <ul class="no-bullet display-inline">
            {{ macro.generate_platform_list(game, 'small-img') }}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
