{% extends "layout/base.html" %}
{% block javascript %}{% endblock %}
{% block title %}Games{% endblock %}
{% block content %}
<h1>Games</h1>
<ul class="no-bullet">
    {% for game in games %}
    <li class="bottom-margin"><a href="{{ url_for('games.game_info', id=game['id']) }}" class="no-underline">{{ game["title"] }}</a>
        <ul class="no-bullet display-inline">
            <li>{{ macro.platform_list('Xbox One', 'small-img') }}</li>
            <li>{{ macro.platform_list('Playstation 4', 'small-img') }}</li>
            <li>{{ macro.platform_list('Wii U', 'small-img') }}</li>
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
