{% extends "layout/base.html" %}

{% block javascript %}
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script> <!--using NiceEdit-->
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>				
{% endblock %}
{% block title %}Edit - {{ game['title'] }}{% endblock %}
{% block content %}
<h1>{{ macro.label_data_edit('Title:', game['title'], 'title', 'normal-input') }}</h1>
    <div class="container">
       <!--Right column-->
        <div class="right-column">
            <!--Platform List-->
            <ul class="no-bullet"> <!--To do: link platform with game...waiting on API for that-->
                <li>{{ macro.platform_list_check('Xbox One', 1, 'platform_1') }}</li>
                <li>{{ macro.platform_list_check('Playstation 4', 2, 'platform_2') }}</li>
                <li>{{ macro.platform_list_check('Wii U', 3, 'platform_3') }}</li>
            </ul>
            <ul class="no-bullet">

                <li>{{ macro.label_data_edit('Release Date:', game['release_date'], 'release_date', 'normal-input') }}</li>
                <li>{{ macro.label_data_edit('Developer:', game['developer'], 'developer', 'normal-input') }}</li>
                <li>{{ macro.label_data_edit('Publisher:', game['publisher'], 'publisher', 'normal-input') }}</li>
            </ul>
        </div>
        <!--Left column-->
        <div class="left-column">
            <textarea class="edit-textarea">{{ game['desc'] }}</textarea>
            <p>{{ macro.label_data_edit('Trailer:', game['trailer_url'], 'trailer_url', 'large-input') }}</p>
        </div>
        <div class="clear-both">
        </div>
    </div>

<a href="" onclick="window.history.go(-1); return false;">Go Back</a>
{% endblock %}
