<div class="login-container" id="login-container">
    <a>Login/Register</a>
</div>
<div class="login-form-container" id="login-form-container">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token" />
    <div class="table-cell-left">
        <form method="POST" action="javascript:Login();" accept-charset="UTF-8" role="form" name="login_form" id="login_form">
            <input type="text" name="login_email" id="login_email" value="" placeholder="Email Address" />
            <input type="password" name="login_password" id="login_password" value="" placeholder="Password" />
            <button type="submit" name="Login">Sign in</button>
            <ul id="login_errors" class="no-bullet error-list-text"></ul>
        </form>  
    </div>
    <div class="table-cell-right">
        <form method="POST" action="javascript:Register();" accept-charset="UTF-8" role="form" name="login_form" id="login_form">
            <input type="text" name="register_email" id="register_email" value="" placeholder="Email Address" />
            <input type="text" name="register_username" id="register_username" value="" placeholder="User Name" />
            <input type="password" name="register_password" id="register_password" value="" placeholder="Password" />
            <input type="password" name="register_confirm_password" id="register_confirm_password" value="" placeholder="Confirm Password" />
            <button type="submit" name="Register">Register</button>
            <ul id="register_errors" class="no-bullet error-list-text"></ul>
        </form>  
    </div>
</div>

