/* Tag Generic */
body {
	background-color: white;
	color: black;
	margin: 20px 20px;
    font-family: Verdana, Geneva, sans-serif;
    color: #333333;
    font-size: 14px;
}

h1 {
    border-bottom: 1px solid #E0E0E0;
}

/* Nav Bar */

.nav-bar {
	background-color: black;
}

.nav-bar-ul {
	list-style: none;
	padding: 0px;
}

.nav-bar-ul>li {
	display: table-cell;
    vertical-align: middle;
	font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
}

.nav-bar-ul>li input {
    vertical-align: middle;
    display: none;
}

.nav-bar-ul li a {
	text-decoration: none;
	color: gray;
}

.nav-bar-right {
    float:right;
    position:relative; 
    top:-30px;
}

.search-img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    background-color: #999999;
    border: 1px solid #626262;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
}

/* Login section */
.login-container>a {
    cursor: pointer;
}
.login-form-container {
    display: none;
    font-size: 14px;
    position: absolute;
    top: 30px;
    right: 0px;
    
    /*background-color: #99FFCC;*/
    z-index: 10;
    border-bottom: 5px solid #707070;
    border-left: 5px solid #707070;
    border-right: 5px solid #4C4C4C;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-bar .login-form-container input {
    display: inline-block;
    vertical-align: middle;
}

/* Tool tip */ 

.tool-tip-wrapper {
    position: relative;
}

.tool-tip-wrapper:hover>.tool-tip {
    background: #660033;
    border-radius: 4px;
    text-align: left;
    top: 40px;
    color: white;
    display: block;
    height: auto;
    right: 0;
    max-width: 300px;
    line-height: 15px;
    position: absolute;
}

.tool-tip-wrapper:hover>.tool-tip:before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    width: 0; 
	height: 0;
}

.tool-tip {
    display: none;
    padding: 5px;
    z-index: 20;
}


.table-cell-left {
    background-color:#386E38;
    display: table-cell;
    text-align: left;
    padding: 5px;
}

.table-cell-right {
    background-color: #333399;
    display: table-cell;
    text-align: right;
    padding: 5px;
    border-left: 3px solid #24246B;
}

.red-border {
    border: 1px solid red;
}

/* Logout */
.logout-container {
    padding-top: 7px;
    font-size: 0.8em;
}

.logout-container>a {
    cursor: pointer;
}

/* General */

.no-bullet {
	list-style: none;
	padding: 0px;
}
.display-inline li {
    display: inline-block;
    margin-right: 5px;
}
.small-img {
    height: 25px;
    width: 50px;
}
.no-underline {
    text-decoration: none;
}
.bottom-margin {
    margin-bottom: 10px;
}
.medium-img {
    height: 75px;
    width: 150px;
}
ul .li-right-margin {
    margin-right: 20px;
}
.container {
    width: 100%;
}
.label {
    font-size: 0.9em;
    font-weight: bold;
}
.data {
    font-size: 1.0em;
}
.data span {
    display: inline-block;
}
.right-column{
    margin-left: 20px;
    float: right;
    display: table-cell;
    padding: 15px;
    background-color: #E0E0E0;
    margin-bottom: 10px;
    width: 200px;
}
.left-column {
    display: table-cell;
    margin-bottom: 10px;
}
.clear-both {
    clear: both;
}
.text-block {
    padding: 10px;
    background-color: #E0E0E0;
    margin-bottom: 10px;
}
.error-list-text li {
    color: black !important;
    font-size: 1.0em !important;
}



