/* Tag Generic */
body {
	background-color: white;
	color: black;
	margin: 0px 20px;
    font-family: Verdana, Geneva, sans-serif;
    color: #333333;
    font-size: 14px;
}

input , textarea , select , button {
    font-family: inherit;
    font-size: inherit;
}

input {
    background: white;
    border-radius: 3px;
}

h1 {
    border-bottom: 1px solid #E0E0E0;
}

h2 {
    margin-top: 0px;
}

/* Nav Bar */

.nav-bar {
	background-color: black;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#000033), to(black));
    background: -webkit-radial-gradient(circle, #000033, black);
    background: -moz-radial-gradient(circle, #000033, black);
    background: -ms-radial-gradient(circle, #000033, black);
}

.nav-bar-ul {
	list-style: none;
	padding: 0px;
    display: block;
}

.nav-bar-ul>li {
	display: inline-block;
    vertical-align: middle;
	font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
}

.nav-bar-ul>li input {
    vertical-align: middle;
    display: none;
}

.nav-bar-ul li a {
	text-decoration: none;
	color: gray;
}

.nav-bar-ul>#nav-search-container {
    margin-right: 0px;
    padding-right: 0px;
}

.nav-bar-ul>.nav-bar-right {
    float:right;
    display: inline-block;
    position: relative;
    margin-right: 0px;
}

.search-img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    background-color: #999999;
    border: 1px solid #626262;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 0px;
}

.search-text-box {
    font-size: 12px;
}

/* Login section */
.login-container>a {
    cursor: pointer;
}
.login-form-container {
    display: none;
    font-size: 14px;
    position: absolute;
    top: 26px;
    right: 0px;
    
    /*background-color: #99FFCC;*/
    z-index: 10;
    border-bottom: 5px solid #707070;
    border-left: 5px solid #707070;
    border-right: 5px solid #4C4C4C;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.login-form-container-right {

}

.nav-bar .login-form-container input {
    display: inline-block;
    vertical-align: middle;
}

.table-cell-left {
    background-color:#386E38;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#386E38), to(#4C7C4C));
    background: -webkit-linear-gradient(top, #386E38, #4C7C4C);
    background: -moz-linear-gradient(top, #386E38, #4C7C4C);
    background: -ms-linear-gradient(top, #386E38, #4C7C4C);
    background: -o-linear-gradient(top, #386E38, #4C7C4C);
    display: table-cell;
    text-align: left;
    padding: 5px;
}

.table-cell-right {
    background-color: #333399;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333399), to(#4747A3));
    background: -webkit-linear-gradient(top, #333399, #4747A3);
    background: -moz-linear-gradient(top, #333399, #4747A3);
    background: -ms-linear-gradient(top, #333399, #4747A3);
    background: -o-linear-gradient(top, #333399, #4747A3);
    display: table-cell;
    text-align: right;
    padding: 5px;
    border-left: 3px solid #24246B;
}

/* Tool tip */ 

.tool-tip-wrapper {
    position: relative;
}

.tool-tip-wrapper>input:focus:hover+.tool-tip {
    background: #660033;
    border-radius: 4px;
    text-align: left;
    top: 40px;
    color: white;
    display: block;
    height: auto;
    left: 0;
    max-width: 300px;
    line-height: 15px;
    position: absolute;
}

.tool-tip-wrapper>input:focus:hover+.tool-tip:before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    width: 0; 
	height: 0;
}

.tool-tip-wrapper>textarea:focus:hover+.tool-tip {
    background: #660033;
    border-radius: 4px;
    text-align: left;
    bottom: -50px;
    color: white;
    display: block;
    height: auto;
    left: 0px;
    max-width: 500px;
    line-height: 15px;
    position: absolute;
}

.tool-tip-wrapper>textarea:focus:hover+.tool-tip:before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    width: 0; 
	height: 0;
}

.tool-tip {
    display: none;
    padding: 5px;
    z-index: 20;
}

.red-border {
    border: 1px solid red;
}

/* Logout */
.logout-container {
    padding-top: 7px;
    font-size: 0.8em;
}

.logout-container>a {
    cursor: pointer;
}

/* Pop up */
#pop-up {
    display: none;
    z-index: 100;
    content: "";
    position: absolute;
    top: 0px;
}

#pop-up.display-pop-up {
    display: block;
    background: #006699;
    color: white;
    position: fixed;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: left;
    height: auto;
    max-width: 500px;
    line-height: 15px;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pop-up-x {
    height: 16px;
    width: 16px;
    position: absolute;
    cursor: pointer;
    right: -3px;
    top: -3px;
}

#gray-out {
    display: none;
    z-index: 90;
    content: "";
    position: absolute;
    top: 0px;
}

#gray-out.display-gray-out {
    background: rgba(100,100,100,0.3);
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

/* End Pop up */

/* Edit Section */

.edit-textarea {
    width: 50vw;
    height: 10vw;
    resize: both;
}

.large-input {
    width: 500px;
}

.normal-input {
    width: 200px;
}

/* Review Section */
.review>li {
    border: 1px solid #B3B3B3;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* General */

.no-bullet {
	list-style: none;
	padding: 0px;
}
ul.no-indent {
    padding: 0 20px;
}
.display-inline li {
    display: inline-block;
    margin-right: 5px;
}
.small-img {
    height: 17px;
    width: 35px;
}
.no-underline {
    text-decoration: none;
}
.bottom-margin {
    margin-bottom: 10px;
}
.medium-img {
    height: 75px;
    width: 150px;
}
ul .li-right-margin {
    margin-right: 20px;
}
.container {
    width: 100%;
}
.label {
    font-size: 0.9em;
    font-weight: bold;
}
.data {
    font-size: 1.0em;
}
.data span {
    display: inline-block;
}
.right-column{
    margin-left: 20px;
    float: right;
    display: block;
    padding: 15px;
    background-color: #E0E0E0;
    margin-bottom: 10px;
    width: 18%;
    min-width: 200px;
}
.left-column {
    display: block;
    float: left;
    margin-bottom: 10px;
    min-width: 300px;
    width: 75%;
    /*background-color: #E0E0E0;*/
    /*padding: 10px;*/
}
.clear-both {
    clear: both;
}

.text-block {
    padding: 10px 0px;
    /*background-color: #E0E0E0;*/
    margin-bottom: 10px;
}
.section-block {
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
}
.no-background {
    background-color: white !important;
    border: 1px solid #E0E0E0;
}
.error-list-text li {
    color: red !important;
    font-size: 1.0em !important;
}
.no-top-margin {
    margin-top: 0px;
}
.underline {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 5px;
}
.small-top-margin {
    margin-top: 10px;
}
.esrb-small-img {
    width: 40px;
    vertical-align: top;
}

