{% import "layout/macros.html" as macro %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/eval.css') }}" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" >
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/site.js') }}"></script>
        {% block javascript %}{% endblock %}
        <title>Eval - {% block title %}{% endblock %}</title>
    </head>
    <body>
    	<div class="nav-bar">
		    <header><a href="/"><img src="{{ url_for('static', filename='images/pylons-logo.gif') }}" /></a></header>
		    <nav>
			    <ul class="nav-bar-ul">
				    <li><a href="{{ url_for('games.all_games') }}">Games</a></li>
				    <li><a href="/platforms">Platforms</a></li>
                    <li><input type="text" class="search-text-box" name="header-search-text-box" id="header-search-text-box" />
                         <img src="{{ url_for('static', filename='images/search.png') }}" class="search-img" />
                    </li>
                    <li class="nav-bar-right">
                        {% if session['user_id'] is not none and session['user_name'] != '' %}
                        {% include "auth/logout.html" %}
                        {% else %}
                        {% include "auth/login.html" %}
                        {% endif %}
                    </li>
			    </ul>
		    </nav>
	    </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>


