{% macro platform_list(platform_name, class='small-img') -%}
    {% if platform_name == 'Xbox One' %}
    <img src="{{ url_for('static', filename='images/xbox-one-logo.gif') }}" title="Xbox One" class="{{ class }}" />
    {% elif platform_name == "Playstation 4" %}
    <img src="{{ url_for('static', filename='images/ps4-logo.gif') }}" title="PS4" class="{{ class }}" />
    {% elif platform_name == "Wii U" %}
    <img src="{{ url_for('static', filename='images/wii-u-logo.gif') }}" title="Wii U" class="{{ class }}" />
    {% else %}
    {{ platform_name }}
    {% endif %}
{%- endmacro %}

{% macro platform_list_check(platform_name, platform_id, id, class='', checked='checked') -%}
    <input type="checkbox" name="{{ id }}" id="{{ id }}" value="{{ platform_id }}" class="{{ class }}" {% if checked == 'checked' %} checked="checked" {% endif %}/>{{ platform_list(platform_name) }}
{%- endmacro %}

{% macro label_img(label, url, class='esrb-small-img') -%}
    <span class="label">{{ label }}</span> <img src="{{ url }}" class="{{ class }}" />
{%- endmacro %}

{% macro label_data(label, data, color="") -%}
    <span class="label">{{ label }}</span> <span class="data" {% if color != '' %} style="color:{{ color }};" {% endif %}>{{ data }}</span>
{%- endmacro %}

{% macro label_data_edit(label, data, id, class='normal-input', readonly='') -%}
    <span class="label">{{ label }}</span> <input type="text" name="{{ id }}" id="{{ id }}" class="{{ class }}" value="{{ data }}" {{ readonly }} />
{%- endmacro %}

{% macro text_block(text) -%}
    <div class="text-block">{{ text }}</div>
{%- endmacro %}

{% macro tool_tip(tool_tip_text, input_element) -%}
    <div class="tool-tip-wrapper">
        {{ input_element|safe }}
        <span class="tool-tip">{{ tool_tip_text }}</span>
    </div>
{%- endmacro %}

{% macro rating_color(rating) -%}
    {% if rating >= 8 %}
        green
    {% elif rating >= 6 %}
        #808000 
    {% elif rating >= 4 %}
        orange
    {% else %}
        red
    {% endif %}
{%- endmacro %}

{% macro get_rating(rating) -%}
    <span style="color:{{ rating_color(rating) }};">{{ rating }}</span>
{%- endmacro %}

{% macro review(username, rating, review) -%}
    <div>{{ username }}</div>
    <div class="underline"><span class="label">Score:</span> <span class="data">{{ get_rating(rating) }} / 10</span></div>
    <div>{{ review }}</div>
{%- endmacro %}
{% macro generate_labeled_platform_list(game, class='small-img') -%}
    <span class="label">Platforms:</span><br />
    {{ generate_platform_list(game, class) }}
{%- endmacro %}

{% macro generate_platform_list(game, class='small-img') -%}
    {% for platform in game.platforms %}
        <li>{{ platform_list(platform.name, class) }}</li>
    {% endfor %}
{%- endmacro %}
